<ion-view view-title="慧管车" style="background: #f0eff4;">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-content class="alarm-content padding">
    <form name="form">
      <h4 class="alarm-title assertive">应急救援确认?</h4>
      <div class="content">
        <p class="assertive">应急救援为紧急情况下使用.</p>
        <input type="text" ng-model="vm.vehicleLic" placeholder="请填写车牌号" style="width: 100%; text-align: center;margin-top: 12px;" name="vehicleLic" required>
        <input type="text" ng-model="vm.location" placeholder="{{vm.text || '正在获取事故地点...'}}" style="width: 100%; text-align: center;margin-top: 12px;" ng-init="fnGetLocation()" name="location" required>
        <textarea ng-model="vm.accidentDesc" cols="30" rows="4" style="margin-top: 14px; width: 100%;" placeholder="请填写描述信息" name="accidentDesc" required></textarea>
      </div>
      <button class="button button-block button-assertive" ng-disabled="form.$invalid" ng-click="fnAlarm()">立即救援</button>
    </form>
  </ion-content>
</ion-view>