<ion-view class="bg-default" view-title="慧管车" cache-view="false">
  <!--顶部信息条-->
  <div class="bar bar-subheader info-bar-header">
    <div class="row">
      <!--左侧信息条-->
      <div class="col left" ng-init="fnGetMsgCount()">
        <!--上层-->
        <div class="row up">
          <div class="col card fix" ui-sref="messages({type: 1})">
            <p class="label">异常</p>
            <p class="num" ng-bind="vm.unreadMsg[1]"></p>
          </div>
          <div class="col card rule" ui-sref="messages({type: 2})">
            <p class="label">故障</p>
            <p class="num" ng-bind="vm.unreadMsg[2]"></p>
          </div>
          <div class="col card exception" ui-sref="messages({type: 3})">
            <p class="label">年审</p>
            <p class="num" ng-bind="vm.unreadMsg[3]"></p>
          </div>
        </div>
        <!--下层-->
        <div class="row down">
          <div class="col card" ng-click="vm.orderType = 2"
            ng-class="{active: vm.orderType === 2}">
            <p class="label">待派车</p>
            <p class="num" ng-bind="vm.unreadMsg[4]"></p>
          </div>
          <div class="col card" ng-click="vm.orderType = 3"
            ng-class="{active: vm.orderType === 3}">
            <p class="label">已派车</p>
            <p class="num" ng-bind="vm.unreadMsg[5]"></p>
          </div>
          <div class="col card" ng-click="vm.orderType = 4" 
            ng-class="{active: vm.orderType === 4}">
            <p class="label">在途中</p>
            <p class="num" ng-bind="vm.unreadMsg[6]"></p>
          </div>
        </div>
      </div>
      <!--右侧信息条-->
      <div class="right" style="background-color: #1cc1f4; width: 121px;" ng-init="fnWeather()">
        <img alt="" class="img-weather" ng-src="{{vm.weather.pictureUrl || 'img/sun.png'}}"/>
        <p class="temperature">{{vm.weather.today.temp}}℃</p>
        <div class="text">
          <p class="weather">{{vm.weather.today.weather}}</p>
          <p class="city">{{vm.city}}</p>
        </div>
      </div>
    </div>
  </div>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon icon-message" ui-sref="messages({type: 1})">
      <span class="badge badge-assertive" ng-if="unreadMsg">{{unreadMsg}}</span>
    </a>
  </ion-nav-buttons>
  <ion-content class="allot order-content has-subheader has-footer">
    <ion-refresher on-refresh="fnGetList(vm.orderType)" pulling-text="下拉刷新..."></ion-refresher>

    <div class="card mini" ng-repeat="item in vm.list" ui-sref="allotDetail({id: item.serialNum})">
      <div class="item item-divider">
        <div class="user">
          <i class="icon-custom icon-passenger icon-mini"></i>
          <span>{{item.applicant}}</span>
          <i class="icon-custom icon-phone icon-mini"></i>
          <span>{{item.phone}}</span>
        </div>
      </div>
      <div class="item item-text-wrap success">
        <div>
          <div class="place-line" style="color: #1e93c2;"></div>
          <p>{{item.planStartPlace || '未知位置'}}</p>
          <p>{{item.planEndPlace || '未知位置'}}</p>
          <div class="text-status" ng-switch="item.status">
            <span ng-switch-when="1">待审核</span>
            <span ng-switch-when="2" style="color: #ff9d0b;">待配车</span>
            <span ng-switch-when="3" style="color: #8ed01f;">已配车</span>
            <span ng-switch-when="4" style="color: #41c6ef;">在途</span>
            <span ng-switch-when="5">完成</span>
            <span ng-switch-when="-1">拒绝</span>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="time">
          <i class="icon-custom icon-car icon-mini"></i>
          <span>{{item.vehicleCount}}</span>
          <i class="icon-custom icon-clock-begin icon-mini" style="color: #38c9cb;" ng-show="item.planStartTime && item.planEndTime"></i>
          <span ng-show="item.planStartTime && item.planEndTime">{{item.planStartTime}}~{{item.planEndTime}}</span>
        </div>
      </div>
    </div>
    <div class="empty-list" ng-hide="vm.list.length">
      暂无数据
    </div>
    <ion-infinite-scroll immediate-check="false" ng-if="vm.hasMore" on-infinite="fnGetList(vm.orderType,true)"></ion-infinite-scroll>
  </ion-content>
  <vmp-tabs></vmp-tabs>
</ion-view>
