<ion-view class="bg-default" view-title="车辆派遣" cache-view="true">
  <!--顶部信息条-->
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ui-sref="newHome">返回</a>
  </ion-nav-buttons>

<!--   <ion-nav-buttons side="right">
    <a class="button button-icon icon icon-message" ui-sref="messages({type: 1})">
      <span class="badge badge-assertive" ng-if="unreadMsg">{{unreadMsg}}</span>
    </a>
  </ion-nav-buttons> -->
  <div class="tabs-striped tabs-top tabs-background-stable">
    <div class="tabs tabs-icon-top" ng-init="fnGetMsgList()" style="height:52px;">
      <!-- <div class="tab-item active-background"
           ng-repeat="tab in vm.tabs"
           ng-class="{active: tab.id === vm.currentTab}"
           ng-click="fnGetMsgList(tab.id)"
        >
        <i class="icon-custom small" ng-class="'icon-tab-msg-alert-' + tab.id"></i>
         <span>{{tab.name}}</span>
      </div> -->
      <div class="tab-item active-background"
           ng-class="{active: vm.orderType === 2}"
           ng-click="vm.orderType = 2"
        >
        <i class="icon-custom small icon-tab-allot-1"></i>
         <span>待派车</span>
      </div>
      <div class="tab-item active-background"
           ng-class="{active: vm.orderType === 3}"
           ng-click="vm.orderType = 3"
        >
        <i class="icon-custom small icon-tab-allot-2"></i>
         <span>已派车</span>
      </div>
      <div class="tab-item active-background"
           ng-class="{active: vm.orderType === 4}"
           ng-click="vm.orderType = 4"
        >
        <i class="icon-custom small icon-tab-allot-3"></i>
         <span>在途中</span>
      </div>
    </div>
  </div>
  <ion-content class="allot order-content has-tabs-top">
    <ion-refresher on-refresh="fnGetList(vm.orderType)" pulling-text="下拉刷新..."></ion-refresher>

    <div class="card mini" ng-repeat="item in vm.list" ui-sref="allotDetail({id: item.serialNum})">
      <div class="item item-divider">
        <div class="user">
          <i class="icon-custom icon-passenger icon-mini"></i>
          <span>{{item.applicant}}</span>
          <i class="icon-custom icon-phone icon-mini"></i>
          <span>{{item.phone}}</span>
        </div>
      </div>
      <div class="item item-text-wrap success">
        <div>
          <div class="place-line" style="color: #1e93c2;"></div>
          <p>{{item.planStartPlace || '未知位置'}}</p>
          <p>{{item.planEndPlace || '未知位置'}}</p>
          <div class="text-status" ng-switch="item.status">
            <span ng-switch-when="1">待审核</span>
            <span ng-switch-when="2" style="color: #ff9d0b;">待配车</span>
            <span ng-switch-when="3" style="color: #8ed01f;">已配车</span>
            <span ng-switch-when="4" style="color: #41c6ef;">在途</span>
            <span ng-switch-when="5">完成</span>
            <span ng-switch-when="-1">拒绝</span>
          </div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="time">
          <i class="icon-custom icon-car icon-mini"></i>
          <span>{{item.vehicleCount}}</span>
          <i class="icon-custom icon-clock-begin icon-mini" style="color: #38c9cb;" ng-show="item.planStartTime && item.planEndTime"></i>
          <span ng-show="item.planStartTime && item.planEndTime">{{item.planStartTime}}~{{item.planEndTime}}</span>
        </div>
      </div>
    </div>
    <div class="empty-list" ng-hide="vm.list.length">
      暂无数据
    </div>
    <ion-infinite-scroll immediate-check="false" ng-if="vm.hasMore" on-infinite="fnGetList(vm.orderType,true)"></ion-infinite-scroll>
  </ion-content>
  <!-- <vmp-tabs></vmp-tabs> -->
</ion-view>
