<ion-view class="bg-default" view-title="慧管车">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-disabled="!vm.formData.name || !fnGetPoints().length" ng-click="fnCreate()">保存</a>
  </ion-nav-buttons>
  <ion-content class="area-content" ng-init="fnDetail(vm.id)">
    <form name="form" ng-if="!vm.id">
      <div class="list mini">
        <label class="item item-input" style="height: 44px;">
          <span class="input-label">栅栏名称</span>
          <input ng-model="vm.formData.name" name="name" required style="text-align: right;" type="text">
        </label>
        <a class="item" ui-sref="areaMap">
          <span class="">监控区域</span>
          <span class="item-note" ng-hide="fnGetPoints().length">未选择</span>
          <span class="item-note" ng-show="fnGetPoints().length">已选择</span>
        </a>
        <label class="item item-input item-select select-clear" style="height: 44px;">
          <span class="input-label">触发方式</span>
          <select ng-model="vm.formData.trigger">
            <option value="0">驶出</option>
            <option value="1">驶入</option>
            <option value="2">驶入驶出</option>
          </select>
        </label>
        <a class="item" ui-sref="areaCar">
          <span class="">监控车辆</span>
          <span class="item-note" ng-hide="fnGetSelectedCar().length">未选择</span>
          <span class="item-note" ng-show="fnGetSelectedCar().length">已选择</span>
        </a>
        <label class="item item-input">
          <span class="">开始时间</span>
          <input type="text" class="time-picker" mobiscroll-time="vm.formData.startTime"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', timeFormat: 'HH:ii' }"
          style="text-align: right; background-color: transparent;">
        </label>
        <label class="item item-input">
          <span class="">结束时间</span>
          <input type="text" class="time-picker" mobiscroll-time="vm.formData.endTime"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', timeFormat: 'HH:ii' }"
          style="text-align: right; background-color: transparent;">
        </label>
      </div>
    </form>
    <div class="list mini" ng-if="vm.id">
      <div class="item">
        栅栏名称
        <span class="item-note" ng-bind="vm.formData.name">
      </div>
      <a class="item" ui-sref="areaMap({id: vm.id})">
        监控区域
        <span class="item-note">已选择</span>
      </a>
      <div class="item">
        触发方式
        <span class="item-note" ng-switch="vm.formData.trigger">
          <span class="item-note" ng-switch-when="0">驶出</span>
          <span class="item-note" ng-switch-when="1">驶入</span>
          <span class="item-note" ng-switch-when="2">驶入驶出</span>
        </select>
      </div>
      <div class="item">
        监控车辆
        <span class="item-note" ng-bind="vm.formData.vehicles.length + '辆'"></span>
      </div>
      <div class="item">
        开始时间
        <span class="item-note" ng-bind="vm.formData.startTime | date: 'HH:mm'"></span>
      </div>
      <div class="item">
        结束时间
        <span class="item-note" ng-bind="vm.formData.endTime | date: 'HH:mm'"></span>
      </div>
    </div>
  </ion-content>
</ion-view>
