<ion-view view-title="慧管车" class="bg-default" cache-view="false">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <div class="tabs-striped tabs-top tabs-background-stable">
    <div class="tabs tabs-icon-top" ng-init="fnInitTab()" style="height: 55px;">
      <div class="tab-item" style="padding-top: 4px;"
           ng-repeat="tab in vm.tabList"
           ng-class="{active: tab === vm.tab}"
           ng-click="vm.tab = vm.tabList[$index]"
        >
      <i class="icon-custom" ng-class="{'icon-tab-car-info': tab == '车辆档案',
       'icon-tab-car-record': tab == '行车记录',
       'icon-tab-car-trace': tab == '车辆跟踪',
       'icon-tab-car-status': tab == '车辆状况',
       'icon-tab-car-park': tab == '停车分布'}"></i>
      {{tab}}
    </div>
    </div>
  </div>
  <ion-content class="car-info-content has-tabs-top"
   ng-class="{'map-view': vm.mapView}" style="top: 99px;" ng-init="fnGetCarDetail()">
    <!--车辆跟踪-->
    <div class="trace map-container" ng-show="vm.tab === '车辆跟踪'" ng-cloak>
      <div id="traceMap" class="map"></div>
      <div class="info-bar">
        <div class="row">
          <div class="col">车牌号:{{vm.info.vehicleLic}}</div>
          <div class="col">别名:{{vm.info.vehicleNickName}}</div>
        </div>
        <div class="row">
          <div class="col" ng-switch="vm.currentLocation.status">
            <span ng-switch-when="1">当前状态:运动中</span>
            <span ng-switch-when="2">当前状态:静止</span>
            <span ng-switch-when="3">当前状态:离线</span>
            <span ng-switch-default>当前状态:未知</span>
          </div>
          <div class="col">当前速度:{{vm.currentLocation.speed}}km/h</div>
        </div>
        <div class="row">
          <div class="col">上报时间:{{vm.currentLocation.updateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
      </div>
    </div>
    <!--车辆状况-->
    <div class="status" ng-show="vm.tab === '车辆状况'" ng-cloak>
      <!--仪表板-->
      <div class="dashboard" id="gauge"></div>
      <div class="row">
        <div class="col mile">
          <label>行驶里程 Km</label>
          <h4>{{vm.currentLocation.mile | number: 2}}</h4>
        </div>
        <div class="col avg-fuel">
          <label>平均油耗 L</label>
          <h4>{{vm.currentLocation.avgFuel | number: 2}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col all-fuel">
          <label>耗油量 L</label>
          <h4>{{vm.currentLocation.allFuel | number: 2}}</h4>
        </div>
        <div class="col degree">
          <label>车外环境温度 ℃</label>
          <h4>{{vm.currentLocation.degree | number: 0}}</h4>
        </div>
      </div>
    </div>
    <!--行车记录-->
    <div class="record fix-retina" ng-show="vm.tab === '行车记录'" ng-cloak>
      <div class="board">
        <div class="date row">
          <div class="col" ng-click="fnSetDay(vm.today, -1)">
          <i class="icon ion-ios-arrow-left"></i>
          {{fnOtherDay(vm.today, -1) | date: 'M月d日'}}
          </div>
          <div class="col" style="color: #3cbd0d;" ng-click="fnOpenPicker()">
            {{vm.today | date: 'M月d日'}}
          </div>
          <input id="today" type="hidden" readonly mobiscroll-date ng-model="vm.today" mobiscroll-instance="vm.todayInstance"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', maxDate: today, dateFormat: 'm月d日' }"
          style="background-color: transparent; text-align: center; line-height: 20px; padding: 0;">
          <div class="col" ng-click="fnSetDay(vm.today, 1)">{{fnOtherDay(vm.today, 1) | date: 'M月d日'}}
          <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
        <div class="info row">
          <div class="col black">
            <p>当日油耗</p>
            <p>{{fnGetFuel() | number: 2}}L</p>
          </div>
          <div class="col black">
            <p>行驶里程</p>
            <p>{{fnGetMile() | number: 2}}Km</p>
          </div>
          <div class="col black">
            <p>平均油耗</p>
            <p>{{fnGetAvgFuel() | number: 2}}L/100Km</p>
          </div>
        </div>
      </div>
      <div class="list mini" ng-repeat="item in vm.journals">
        <div class="item">
          <div class="status">
            <p>行程:{{item.miles}}Km</p>
            <p>停留{{fnDateLenth(item.stand)}}</p>
          </div>
          <p>{{item.startLoc.time | date: 'HH:mm'}} 从 {{item.startLoc.sematic_description}}</p>
          <p>{{item.endLoc.time | date: 'HH:mm'}} 到 {{item.endLoc.sematic_description}}</p>
        </div>
      </div>
      <div class="empty-list" ng-hide="vm.journals.length" style="top: 140px;">
        暂无数据
      </div>
    </div>
    <!--停车分布-->
    <div class="park map-container" ng-show="vm.tab === '停车分布'" ng-cloak>
      <div class="map" id="parkMap"></div>
    </div>
    <!--车辆档案-->
    <div class="archive" ng-show="vm.tab === '车辆档案'" ng-cloak>
      <div class="list mini">
        <div class="item">
          <span>车牌号</span>
          <span class="item-note">{{vm.info.vehicleLic}}</span>
        </div>
        <div class="item">
          <span>车辆别名</span>
          <span class="item-note">{{vm.info.vehicleNickName}}</span>
        </div>
        <div class="item">
          <span>品牌和车型</span>
          <span class="item-note">{{vm.info.vehicleType}}</span>
        </div>
        <div class="item">
          <span>所属部门</span>
          <span class="item-note">{{vm.info.deptName}}</span>
        </div>
        <div class="item">
          <span>当前里程</span>
          <span class="item-note">{{vm.info.displayDistance}}</span>
        </div>
        <div class="item">
          <span>保养里程间隔</span>
          <span class="item-note">{{vm.info.displayDistance}}</span>
        </div>
        <div class="item">
          <span>保险日期</span>
          <span class="item-note">{{vm.info.vehicleAuditTime}}</span>
        </div>
        <div class="item">
          <span>年检日期</span>
          <span class="item-note">{{vm.info.vehicleAuditTime}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
