<ion-view view-title="慧管车" class="bg-default">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-content ng-init="fnDetail(vm.id)">
    <div class="list mini" style="margin-top: 20px;">
      <div class="item">
        <span>申请人</span>
        <a class="item-note" ng-href="tel:{{vm.order.phone}}">{{vm.order.applicant}} {{vm.order.phone}}</a>
      </div>
    </div>
    <div class="list mini">
      <!-- end place -->
      <div class="item item-icon-left" ui-sref="tab.map">
        <i class="icon-custom icon-end"></i>
        <span>{{::vm.order.planEndPlace}}</span>
      </div>
      <!-- begin place -->
      <div class="item item-icon-left" ui-sref="tab.map">
        <i class="icon-custom icon-begin"></i>
        <span>{{::vm.order.planStartPlace}}</span>
      </div>
      <!-- begin time -->
      <div class="item item-icon-left">
        <i class="icon-custom icon-clock-begin"></i>
        <label>开始</label>
        <span class="item-note" ng-bind="::vm.order.planStartTime"></span>
      </div>
      <!-- end time -->
      <div class="item item-icon-left">
        <i class="icon-custom icon-clock-finish"></i>
        <label>结束</label>
        <span class="item-note" ng-bind="::vm.order.planEndTime"></span>
      </div>
      <!-- car -->
      <div class="item item-icon-left" ng-click="vm.expand = !vm.expand">
        <i class="icon-custom icon-car"></i>
        <label>车辆信息</label>
        <span class="item-note" ng-show="vm.order.driverAndVehicle.length">{{vm.expand ? '收起' : '展开'}}</span>
      </div>
      <div class="item item-divider" ng-show="vm.expand && vm.order.driverAndVehicle.length" ng-repeat="item in nameFilter(vm.order.driverAndVehicle)">
        <span ng-bind="::item.vehicleLic" style="color: #45bfff;"></span>
        <span style="float: right;">{{::item.driver}}{{::item.phoneNo}}</span>
      </div>


    </div>

    <div class="list mini">
      <div class="item item-icon-left" ng-click="vm.peopleExpand = !vm.peopleExpand">
        <i class="icon-custom icon-passenger" style="color: #45bfff;"></i>
        <label>用车人员</label>
        <span class="item-note" ng-show="vm.order.passengers.length">{{vm.peopleExpand ? '收起' : '展开'}}</span>
      </div>
      <div class="item item-divider" ng-show="vm.peopleExpand && vm.order.passengers.length" ng-repeat="item in ::vm.order.passengers">
        <span ng-bind="item.phone"></span>
        <span ng-bind="item.name" style="float: right;"></span>
      </div>
      <div class="item item-icon-left">
        <i class="icon-custom icon-order"></i>
        <label>用车需求</label>
        <span class="item-note" ng-bind="::vm.order.comment"></span>
      </div>
    </div>

    <!-- <div class="row padding" ng-show="vm.order.status !== 4">
      <button class="button button-block button-blue" ui-sref="tax({taxId: vm.order.driverAndVehicle[0].orderUid})">行车日志</button>
    </div> -->

    <div class="row padding" ng-show="vm.order.status == 3">
      <button class="button button-block button-blue" ng-click="fnBegining(vm.order.driverAndVehicle[0].orderUid)">已上车</button>
    </div>


    <div class="row padding button-bar" ng-show="vm.order.status == 4">
      <button class="button button-blue" ui-sref="tax({taxId: vm.order.driverAndVehicle[0].orderUid})">行车日志</button>
      <button class="button button-blue" ng-click="fnFinish(vm.order.driverAndVehicle[0].orderUid)">完成任务</button>
    </div>


  </ion-content>
</ion-view>
