<ion-view view-title="慧管车" class="bg-default">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-content ng-init="fnDetail(vm.id)">
    <div class="list mini">
      <div class="item">
        <span>姓名</span>
        <span class="item-note">{{vm.driver.realName}}</span>
      </div>
      <div class="item">
        <span>部门</span>
        <span class="item-note">{{vm.driver.deptName}}</span>
      </div>
      <div class="item">
        <span>电话</span>
        <span class="item-note">{{vm.driver.phone}}</span>
      </div>
      <div class="item">
        <span>身份证号</span>
        <span class="item-note">{{vm.driver.idNumber}}</span>
      </div>
      <div class="item">
        <span>驾驶证号</span>
        <span class="item-note">{{vm.driver.licNumber}}</span>
      </div>
      <div class="item">
        <span>申领日期</span>
        <span class="item-note">{{vm.driver.licFirst | date: 'yyyy-MM-dd'}}</span>
      </div>
      <div class="item">
        <span>准驾车型</span>
        <span class="item-note">{{vm.driver.approvalType}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
