<div class="info">
  <div class="row">
    <div class="col text-center no-padding">
      <i class="icon-person55"></i>
      <p data-driverName></p>
    </div>
    <a class="col text-center no-padding border">
      <i class="icon-phone55"></i>
      <p data-driverPhone></p>
    </a>
    <div class="col text-center no-padding">
      <i class="icon-car55"></i>
      <p data-vehicleLic></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>所属部门：<span data-buShortName></span></p>
      <p>上报时间：<span data-updateTime></span></p>
      <p>所在位置：<span data-address class="truncate"></span></p>
    </div>
  </div>
</div>
<div class="action-bar row">
  <div class="col"><i class="icon-detail"></i>详情</div>
  <div class="col"><i class="icon-line"></i>轨迹</div>
  <div class="col"><i class="icon-trace"></i>跟踪</div>
  <div class="col"><i class="icon-area"></i>区域</div>
  <div class="col"><i class="icon-park"></i>停靠</div>
</div>
<div class="arrow-down"></div>
