<ion-view view-title="慧管车" class="bg-default" cache-view="false">
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
    </ion-nav-buttons>
    <ion-content ng-init="fnOrganizationInfo()">
        <div class="list mini">
            <div class="item">
                <span>企业名称</span>
                <span class="item-note">{{vm.companyInfo.orgName}}</span>
            </div>
            <div class="item">
                <span>企业简称</span>
                <span class="item-note">{{vm.companyInfo.orgShortName}}</span>
            </div>
            <div class="item">
                <span>企业号</span>
                <span class="item-note">{{vm.companyInfo.orgCode}}</span>
            </div>
            <div class="item">
                <span>企业网址</span>
                <span class="item-note">{{vm.companyInfo.orgBand}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>