<ion-view view-title="慧管车">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-content>
    <form name="pwdForm" ng-submit="fnMofidyPwd(vm.oldPwd, vm.newPwd, vm.confirmPwd)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">当前密码</span>
          <input type="password" ng-model="vm.oldPwd" placeholder="请输入当前密码" name="oldPwd" required>
        </label>
        <label class="item item-input">
          <span class="input-label">新密码</span>
          <input type="password" ng-model="vm.newPwd" placeholder="请输入新密码" name="newPwd" required>
        </label>
        <label class="item item-input">
          <span class="input-label">密码确认</span>
          <input type="password" ng-model="vm.confirmPwd" placeholder="请再次输入新密码" name="confirmPwd" required>
        </label>
      </div>
      <button type="submit" class="button button-block button-blue" ng-disabled="pwdForm.$invalid">提交</button>
    </form>
  </ion-content>
</ion-view>