<ion-view view-title="{{vm.mapView? '车辆监控':'车辆搜索'}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="fnChangeView()">
      {{vm.mapView ? '列表视图' : '地图视图'}}
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ui-sref="newHome">返回</a>
  </ion-nav-buttons>

<!--   <ion-nav-buttons side="right">
    <a class="button button-icon icon icon-message" ui-sref="messages({type: 1})">
    <span class="badge badge-assertive" ng-if="unreadMsg">{{unreadMsg}}</span>
    </a>
  </ion-nav-buttons> -->
  <div class="bar bar-subheader item-input-inset" ng-hide="vm.mapView">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="请输入关键字进行搜索" ng-model="vm.search"
             ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
             ng-change="fnGetCarList()">
    </label>
    <button class="button button-clear" ng-click="vm.search = '';fnGetCarList()">
      取消
    </button>
  </div>
  <ion-content class="car-list has-footer1" ng-class="{'map-view': vm.mapView, 'has-subheader': !vm.mapView}">
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="fnGetCarList()">
    </ion-refresher>
    <!--列表视图-->
    <div ng-if="!vm.mapView">
      <div class="list mini" ng-init="fnGetCarList()">
        <a class="item item-avatar" ng-repeat="item in vm.list" ui-sref="carInfo({id: item.vehicleUid})">
          <img ng-src="{{item.vehicleAvatar}}">

          <h2 ng-bind="item.vehicleLic"></h2>

          <p>{{item.vehicleNickName}}&nbsp;{{item.vehicleType}}</p>
          <span class="status">
            <span style="color: #3fac29;" ng-switch="item.location.status">
              <span ng-switch-when="1">运动</span>
              <span ng-switch-when="2">静止</span>
              <span ng-switch-default>离线</span>
            </span>
            <i class="icon ion-ios-arrow-right"></i>
          </span>
        </a>
      </div>
      <div class="empty-list" ng-hide="vm.list.length">
        暂无数据
      </div>
    </div>
    <!--地图视图-->
    <div ng-if="vm.mapView" style="width: 100%; height: 100%;">
      <div id="carMap" style="width: 100%; height: 100%;"  ng-init="fnInitMap()"></div>
      <!--状态图例-->
      <div class="status-box">
        <p class="green">运动</p>
        <p class="blue">静止</p>
        <p class="grey">离线</p>
      </div>
      <div class="area-box" ui-sref="areaList">
        栅栏
      </div>
      <div class="custom-info-box text-center no-padding" id="carInfoBox">
        <div class="info">
          <div class="row">
            <div class="col col-33 text-center no-padding">
              <img ng-src="{{vm.selectedCar.vehicleAvatar}}" style="max-width: 64px; margin-top: 6px;" alt="">
            </div>
            <div class="col text">
              <h3 style="color: #fff;">{{vm.selectedCar.vehicleLic}}</h3>
              <p><i ng-show="vm.selectedCar.driverName" class="icon ion-person"></i>{{vm.selectedCar.driverName}}</p>
              <p class="truncate" style="width: 161px;">{{vm.selectedCar.address}}</p>
            </div>
          </div>
        </div>
        <div class="action-bar">
          <div class="detail" ui-sref="carInfo({id: vm.selectedCar.vehicleUid, type: 1})"><i class="icon-detail"></i>车辆档案</div>
          <div class="line" ui-sref="carInfo({id: vm.selectedCar.vehicleUid, type: 2})"><i class="icon-line"></i>行车记录</div>
          <div class="trace" ui-sref="carInfo({id: vm.selectedCar.vehicleUid, type: 3})"><i class="icon-trace"></i>车辆跟踪</div>
          <div class="area" ui-sref="carInfo({id: vm.selectedCar.vehicleUid, type: 4})"><i class="icon-area"></i>车辆状况</div>
          <div class="park" ui-sref="carInfo({id: vm.selectedCar.vehicleUid, type: 5})"><i class="icon-park"></i>历史停靠</div>
        </div>
        <div class="arrow-down"></div>
      </div>
    </div>
    <ion-infinite-scroll
      ng-if="vm.hasMore"
      on-infinite="fnGetCarList(true)"
      immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
  <!-- <vmp-tabs></vmp-tabs> -->
  
</ion-view>
