<div class="tabs tabs-icon-top tabs-color-active-balanced">
  <a class="tab-item" ng-if="::fnGetPermission('vehicle_manager')" ui-sref="allot" ui-sref-active="active">
    <i class="icon-custom icon-tab-home"></i>
    首页
  </a>
  <a class="tab-item" ng-if="::fnGetPermission('driver')" ui-sref="mission" ui-sref-active="active">
    <i class="icon-custom icon-tab-layout"></i>
    任务
  </a>
  <a class="tab-item" ng-if="::(fnGetPermission('leader') || fnGetPermission('user'))" ui-sref="userHome" ui-sref-active="active">
    <i class="icon-custom icon-tab-home"></i>
    用车
  </a>
  <a class="tab-item" ng-if="::(fnGetPermission('leader') || fnGetPermission('user'))" ui-sref="userOrders" ui-sref-active="active">
    <i class="icon-custom icon-tab-trip"></i>
    行程
  </a>
  <a class="tab-item" ng-if="::fnGetPermission('vehicle_manager')" ui-sref="car" ui-sref-active="active">
    <i class="icon-custom icon-tab-car"></i>
    车辆
  </a>
  <a class="tab-item" ng-if="::fnGetPermission('vehicle_manager')" ui-sref="driver" ui-sref-active="active">
    <i class="icon-custom icon-tab-person"></i>
    驾驶员
  </a>
  <a class="tab-item" ng-if="::fnGetPermission('vehicle_manager')" ui-sref="report" ui-sref-active="active">
    <i class="icon-custom icon-tab-order"></i>
    统计分析
  </a>
  <a class="tab-item" ng-if="::fnGetPermission('driver')" ui-sref="driverOrders" ui-sref-active="active">
    <i class="icon-custom icon-tab-order"></i>
    订单
  </a>
  <a class="tab-item" ui-sref="account" ui-sref-active="active">
    <i class="icon-custom icon-tab-gear"></i>
    设置
  </a>
</div>
