<ion-view view-title="慧管车" hide-back-button="true" class="bg-default">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ui-sref="addTax({taxId: vm.taxId})">添加</a>
  </ion-nav-buttons>
  <ion-content ng-init="fnGetTaxList()">
    <div class="list mini">
      <div class="item">
        <span>总计</span>
        <span class="item-note">{{fnTaxCount()}}元</span>
      </div>
    </div>

    <div class="list mini">
      <div class="item" ng-repeat="tax in vm.taxList">
        <span ng-switch="tax.costType">
          <span ng-switch-when="1">高速公路收费</span>
          <span ng-switch-when="2">加油费</span>
          <span ng-switch-when="3">车辆维修费</span>
        </span>
        <span class="item-note">{{tax.costAmount || 0}}元
          <i class="icon ion-chevron-right"></i>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>