<ion-view view-title="慧管车" cache-view="false" class="bg-default">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()">返回</a>
  </ion-nav-buttons>
  <ion-content class="tax-content" ng-init="fnGetTaxInfo()">
    <form name="form">
      <div class="list mini">
        <div class="item item-input item-select">
          <span>费用类型</span>
          <select ng-model="vm.tax.costType" name="costType" required>
            <option value="1">高速公路收费</option>
            <option value="2">加油费</option>
            <option value="3">车辆维修费</option>
          </select>
        </div>
        <div class="item">
          <span>金额</span>
          <div class="input-container">
            <input type="text" ng-model="vm.tax.costAmount" name="cost" required placeholder="50.00元"/>
          </div>
        </div>
        <div class="item">
          <span>缴费地点</span>
          <div class="input-container">
            <input type="text" ng-model="vm.tax.costLoc" name="place" required placeholder="合肥"/>
          </div>
        </div>
        <div class="item">
          <span>缴费时间</span>
          <div class="input-container">
            <input type="text" class="date-picker" mobiscroll-datetime="vm.tax.costTime"
            mobiscroll-options="{lang: 'zh', mode: 'mixed', maxDate: today, dateFormat: 'yy-mm-dd' }">
          </div>
        </div>
        <div class="item">
          <span>备注</span>
          <div class="input-container">
            <input type="text" ng-model="vm.tax.comment" placeholder="车辆过路过桥"/>
          </div>
        </div>
      </div>

      <div class="btn-bar padding">
        <button class="button button-block button-blue" ng-disabled="form.$invalid" ng-click="fnAddTax(vm.tax)">{{vm.costId?'保存':'添加'}}</button>
      </div>
    </form>
  </ion-content>
</ion-view>
