<ion-view view-title="慧管车" class="bg-default">
  <ion-content class="user-home-content has-footer">
    <form name="form">
      <div class="list mini">
        <!-- begin place -->
        <div class="item item-icon-left item-icon-right">
          <i class="icon-custom icon-begin"></i>
          <input type="text" style="width: 100%;height: 21px;" ng-model="vm.planStartPlace" required placeholder="上车地点"/>
          <i class="icon-custom icon-map" ui-sref="map({from: 'planStartPlace'})"></i>
        </div>
        <!-- end place -->
        <div class="item item-icon-left item-icon-right">
          <i class="icon-custom icon-end"></i>
          <input type="text" style="width: 100%;height: 21px;" ng-model="vm.planEndPlace" required placeholder="目的地"/>
          <i class="icon-custom icon-map" ui-sref="map({from: 'planEndPlace'})"></i>
        </div>
      </div>

      <div class="list mini">
        <!-- begin time -->
        <div class="item item-icon-left" ng-click="fnOpen()">
          <i class="icon-custom icon-clock-begin"></i>
          <label>开始</label>
          <input type="text" class="date-picker" readonly mobiscroll-date="vm.planStartTime"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', minDate: today, dateFormat: 'yy-mm-dd' }"
          style="height: 21px;background-color: transparent;text-align:right;">
          <input type="text" class="time-picker" readonly mobiscroll-time="vm.planStartTime"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', timeFormat: 'HH:ii' }"
          style="height: 21px;background-color: transparent;text-align:left;">
        </div>
        <!-- end time -->
        <div class="item item-icon-left">
          <i class="icon-custom icon-clock-finish"></i>
          <label>结束</label>
          <input type="text" class="date-picker" readonly mobiscroll-date="vm.planEndTime"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', minDate: today, dateFormat: 'yy-mm-dd' }"
          style="height: 21px;background-color: transparent;text-align:right;">
          <input type="text" class="time-picker" readonly mobiscroll-time="vm.planEndTime"
          mobiscroll-options="{lang: 'zh', mode: 'mixed', timeFormat: 'HH:ii' }"
          style="height: 21px;background-color: transparent;text-align:left;">
        </div>
        <!-- car -->
        <div class="item item-icon-left item-icon-right">
          <i class="icon-custom icon-car"></i>
          <label>用车数量</label>
          <input type="number" style="display: inline;width: 120px; height: 21px;"
                 placeholder="请输入用车数量" ng-model="vm.vehicleCount" required ng-change="fnResetCarList()">
          <i class="icon ion-ios-arrow-right" style="color: #999999;" ui-sref="userCars"></i>
        </div>
      </div>

      <div class="list mini">
        <a class="item item-icon-left" ui-sref="userPeoples">
          <i class="icon-custom icon-passenger"></i>
          <label>随车人员</label>
          <span class="item-note truncate" style="width: 70%;text-align: right;" ng-bind="vm.passengers | concatName: 'realName'"></span>
        </a>

        <div class="item item-icon-left">
          <i class="icon-custom icon-order"></i>
          <label>用车需求</label>
          <input type="text" style="display: inline-block;width: 100%;height: 21px;" ng-model="vm.description"
                 placeholder="请输入用车需求"/>
        </div>
      </div>
      <div class="list mini">
        <a class="item item-icon-left" ui-sref="approvers">
          <i class="icon-custom icon-passenger"></i>
          <label>审批人</label>
          <span class="item-note truncate" style="width: 70%;text-align: right;" ng-bind="vm.selectApprovers.realName"></span>
        </a>
      </div>

      <div class="padding">
        <button class="button button-block button-blue" style="background-color: #18beea;"
                ng-disabled="form.$invalid" ng-click="fnCreateOrder()">提交</button>
      </div>
    </form>
  </ion-content>
  <vmp-tabs></vmp-tabs>
</ion-view>
