<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.wttech.vmp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <!-- <name>慧管车</name> -->
  <name>vmp-client</name>
  <!-- 描述 -->
  <description>
        An Ionic Framework and Cordova project.
    </description>
    <!-- 作者信息 -->
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
    <!-- 入口文件 -->
  <content src="index.html"/>
  <!-- 权限配置 -->
  <allow-intent href="http://*/*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes"/>
  <!-- 配置 -->
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <!-- 首屏显示延迟 -->
  <preference name="SplashScreenDelay" value="5000"/>
  <preference name="Orientation" value="portrait"/>
  <!-- 状态栏颜色 -->
  <preference name="StatusBarBackgroundColor" value="#000000"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <!-- 全屏 -->
  <preference name="fullscreen" value="true" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <!-- 信鸽插件 -->
  <feature name="XGPlugin">
    <param name="ios-package" value="XGPlugin" onload="true" />
  </feature>
  <feature name="MyPlugin">
    <param name="ios-package" value="MyPlugin" onload="true" />
  </feature>
  <icon src="resources/logo.png"/>
  <platform name="android">
    <splash src="resources/launcher.png" density="land-ldpi"/>
    <splash src="resources/launcher.png" density="land-mdpi"/>
    <splash src="resources/launcher.png" density="land-hdpi"/>
    <splash src="resources/launcher.png" density="land-xhdpi"/>
    <splash src="resources/launcher.png" density="land-xxhdpi"/>
    <splash src="resources/launcher.png" density="land-xxxhdpi"/>
    <splash src="resources/launcher.png" density="port-ldpi"/>
    <splash src="resources/launcher.png" density="port-mdpi"/>
    <splash src="resources/launcher.png" density="port-hdpi"/>
    <splash src="resources/launcher.png" density="port-xhdpi"/>
    <splash src="resources/launcher.png" density="port-xxhdpi"/>
    <splash src="resources/launcher.png" density="port-xxxhdpi"/>
  </platform>
  <platform name="ios">
    <splash height="480" src="resources/launcher.png" width="320"/>
    <splash height="960" src="resources/launcher.png" width="640"/>
    <splash height="1024" src="resources/launcher.png" width="768"/>
    <splash height="2048" src="resources/launcher.png" width="1536"/>
    <splash height="768" src="resources/launcher.png" width="1024"/>
    <splash height="1536" src="resources/launcher.png" width="2048"/>
    <splash height="1136" src="resources/launcher.png" width="640"/>
    <splash height="1334" src="resources/launcher.png" width="750"/>
    <splash height="2208" src="resources/launcher.png" width="1242"/>
    <splash height="1242" src="resources/launcher.png" width="2208"/>
  </platform>
</widget>
